
html {
  background-color: #f0f0f0;
}

body {
  font-family: 'DejaVu Sans', Arial, Helvetica;
  font-size: 12px;
  
  background-color: #ffffff;
  border: 1px solid #cccccc;
  margin: 0px auto; 
  padding: 20px 20px; 
  width: 90%;
}

form fieldset {
  padding-top: 20px;
}

form div {
  float: left;
  clear: left;
  width: 100%;
  padding-bottom: 1em;
}

form div > label {
  width: 100px;
  display: block;
  float: left;
  text-align: right;
  margin-right: 20px;
  line-height: 20px;
  padding: 0;
  font-weight: bold;
}

form div > input, form div > select {
  height: 20px;
  margin: 0px;
  padding: 0px;
}

form div > ul {
  list-style: none;
  padding: 0;
  vertical-align: top;
}

form div > ul li {
  padding: 0;
  margin-left: 120px;    
}


form div.submit {
  margin-top: 40px;
  background-color: #99cc33;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #000000;
}


#header {
  margin-top: 0px;
  background-color: #22cc33;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 0px;
  border: 1px solid #000000;
}

#customeHeaderr {
  margin-top: 0px;
  background-color: #55aa33;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 0px;
  border: 1px solid #000000;
}

#menuTop {	  
  margin-bottom: 10px;
  margin-top: 60px;
  background-color: #664433;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #000000;  
}


#content {
  margin-top: 1px;
  margin-bottom: 1px;
  float: left;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #000000;
}


#footer {
  margin-top: 1px;
  background-color: #99cc33;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #000000;
  clear:both;
  text-align:center;
}


#customeFooter{
  margin-top: 1px;
  background-color: #44cc33;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #000000;
}



