<!DOCTYPE html>
<html>
  <head>
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Task List</title>
   	<link rel="stylesheet" type="text/css" media="all"  th:href="@{/css/syncServer.css}"
      href="../css/syncServer.css" />
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  	<script src="/js/jquery.js"></script>
  
  </head>
  
  <body>
     <div th:replace="fragments/header :: header">
    </div>
    <div class="container">
      <div layout:fragment="content">
        <h1>Static content for prototyping purposes only</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
          Phasellus et placerat elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          
        </p>
      </div>
      <div th:replace="fragments/footer :: footer">© 2014 The Static Templates</div>
    </div>
  </body>
</html>